* {
  font-family: 'Abel', sans-serif;
}

body {
  align-content: center;
  background-image: url("./assets/background.png");
  background-size: 100vw 100vh;
  display: flex;
  flex-direction: column;
  margin: 0em;
}

header {
  align-items: center;
  display: flex;
  height: 7em;
  justify-content: center;
}

h1 {
  font-size: 3em;
  margin: 0em;
  text-align: center;
}

h1,
p {
  color: #5C415D;
}

h2 {
  margin: 2em;
}
/* player forms */
.player-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-form > p {
  margin: .5em;
}
input {

}
button {
  height: 2em;
  margin: .5em;
  width: 3em;
}
/* card section */
.playing-field {
  display: flex;
  justify-content: space-around;
  margin-top: 1.2em;
}

.center-pile,
.player-1-hand,
.player-2-hand {
  height: 32em;
  width: 18em;
}

img {
  border-radius: 30px;
  width: 18em;
}

.player-1-hand > img {
  box-shadow: 0 0 13px 0px #06D6A0;
}

.player-2-hand > img {
  box-shadow: 0 0 13px 0px #EF476F;
}
/* player info */
.game-info {
    display: flex;
    justify-content: space-around;
}

.player-1-info,
.player-2-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10em;
  text-shadow: 1px 1px 5px #ffffff
}

.player-1-info {
  padding-right: 30em;
}

p {
  font-size: 1.2em;
}
/* misc */
.hidden {
  display: none;
}
